* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interval-btn {
    
    background: steelblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn {
    
    background: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn.active {
    background:cadetblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn.disabled {
    background:#111;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}