* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    
    background: tomato;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.3s ease-in-out;
}

.btn.active {
    background:cadetblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}